e {{ apnscp_root }}/storage/tmp - {{ apnscp_system_user }} - 5d
x {{ apnscp_root }}/storage/tmp/.gitignore
r! {{ apnscp_root }}/storage/run/httpd.pid - - - -
e {{ apnscp_root }}/storage/screenshots - {{ apnscp_system_user }} - 5d
{%if has_screenshots | default(not has_low_memory | bool) %}
e /tmp/.org.chromium.* - - - 1h
{% endif %}
