[Unit]
Description=ApisCP backend service
Wants=mariadb.service postgresql.service
After=local-fs.target mariadb.service postgresql.service virtualhosting.service

[Service]
User=root
Type=notify
EnvironmentFile=-/etc/sysconfig/apnscp
PIDFile={{ apnscp_root }}/storage/run/apnscpd.pid
ExecStart={{ apnscp_root }}/bin/apnscpd start
ExecStop={{ apnscp_root }}/bin/apnscpd stop
ExecStopPost=-/usr/sbin/httpd -f {{ apnscp_root }}/config/httpd.conf -k stop $HTTPD_ARGS

KillMode=process
Restart=no
TimeoutStartSec=1m
PrivateTmp=false
OOMScoreAdjust=150
Nice=0
SendSIGKILL=no
Delegate=yes
LimitFSIZE=4294967296

[Install]
WantedBy=multi-user.target
Alias=apiscp.service
